/**********************************************
*										      *
*                 GENERAL STYLES              *
*                                             *
**********************************************/

html, body {
	height: 100%
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between
}
ul {
  list-style: none
}

a {
  text-decoration: none
}

h1,h2,h3,h4,h5{
	font-family: 'Audiowide', cursive;
	color: #0056b3;
}

p{
	font-family: 'Roboto Mono', monospace;
	line-height: 2;
	font-weight: 600;
	font-size: 1.2em;
	color: #fff;
}

h2{
	font-size: 2em;
	text-align: center;
}


#index h1,#index h2,#index a{
    color:#fff;
    transition: 0.5s;
}
#index h1:hover,#index h2:hover,#index a:hover{
    transition: 0.5s;
    text-shadow: 2px 0 5px #3ad9e8 ;
}

#index h1{
	font-size: 2em;	
}
#index h2{
	font-size: 3.5em;
	text-transform: uppercase;
	font-weight: 600;
}

a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
.ms-section{
	text-align: center;
}

.cont{
	margin: 0 10%;
}

.indexLink img{
	width: 10%;
	margin: 5% 0 0 5%;
}



/**********************************************
*										                          *
*                 MENU                        *
*                                             *
**********************************************/


#menu li {
	display:inline-block;	
	color: #000;
	background: rgba(255,255,255, 0.3);
	border-radius: 50px;
}
#menu li.active{
	background: rgba(16,107,63, 0.8);
	color: #000;
}
#menu li a{
	text-decoration:none;
	color: #000;
}

#menu li:hover{
	background: #000000;
}
#menu li a,
#menu li.active a{
	display:block;
	color: #000;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	margin-left: 5px;
}
#menu li a{
	padding: 5px;
}


/**********************************************
*										                          *
*                 HOME PAGE                   *
*                                             *
**********************************************/

#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#about,#works,#skills,#contact{
	background: #f2f2f2;

}

#left2{
	background: url('img/moi.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#right2{

}
#left3{

}
#right3{

}
#left4{
	background: url('img/setup.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#right4{

}
#left5{

}
#right5{
	background: url('img/mug.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#right3 figure{
	width: 20%;
}
#right3 .center{
	justify-content: center;
}

#right3 .disp{
	display: contents;
}
#right3 figure{
	margin: 0;
	opacity: .5;
	transition: all .5s ease-in-out;
}
#right3 figure:hover{
	opacity: 1;
	border: 1px outset #171717;
}

/**********************************************
*										                          *
*                 PAGE ABOUT                  *
*                                             *
**********************************************/
#about{
	background: #0B0000;
  background: url('img/sport.png'),rgba(45,92,94,0.3);
	background-repeat: no-repeat;
}

#about h2{
  margin-bottom: 5%;
}

/**********************************************
*										                          *
*                 PAGE WORKS                  *
*                                             *
**********************************************/
#works img{
  max-width: 100%;
}

#portfolio h1{
  margin-bottom: 10%;
}

#portfolio .portfolio-item {
  padding: 0 15px;
  right: 0;
  margin: auto;
  margin-bottom: 5%;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
  border: 4px solid;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}



#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color:  rgba(0, 0, 0, 0.1);
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 15px;
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

.color_modal{
  background:   rgba(0, 0, 0, 0.1); 
}
.portfolio-modal{
  background: rgba(19,132,150, 0.3);
}




/**********************************************
*										                          *
*                 PAGE CONTACT                *
*                                             *
**********************************************/

#contact{
  background:linear-gradient(0deg, rgba(127,100,208,.5) 0%, rgba(232,156,24,.5) 46%),url('img/city.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

#contact h1, #contact .text{
	max-width: 66.666667%;
	margin: auto;
	margin-bottom: 50px;
}

#contact .succes{
	background: green;
}

#contact .fail{
	background: red;
}

#contact form{
  margin: auto;
}

#contact input, #contact textarea{
	margin-bottom: 20px;
	background-color: transparent;
	border-width: 0 0 5px 0;
	border-radius: 0;
	border-color: #8DB9ED;
	font-family: 'Roboto Mono', cursive;
	text-transform: uppercase;
	font-weight: bold;
}

#contact input:hover, #contact textarea:hover{
	border-color: #0056b3;
}

#contact input:focus, #contact textarea:focus{
	outline-style: none;
	box-shadow: none;
}


#contact .send{
	display: block;
	margin: auto;
	border: none;
	margin-top: 5%;
	margin-bottom: 20%;
	padding: 10px 70px; 
	background: #8DB9ED;
	color: #FFF;
	font-family: 'Roboto Mono', cursive;
}
#contact .send:hover{
	background: #0056b3;
}
/**********************************************
*										                          *
*                 FOOTER                      *
*                                             *
**********************************************/



.generic-anchor {
	color: #8DB9ED;
	&:visited {
		color: #8DB9ED
	}
	&:hover {
		color: #ccc
	}
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

main {
  flex: 1 1 auto; //For IE11
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
}
footer {
	font: 11px "Open Sans", sans-serif;
  background: rgb(55,55,55);
  margin-top: 10%;;
  width: 100%
}
.footer-list-top {
  width: 25%;
  margin: auto;
}
.footer-list-top > li {
  text-align: center;
  padding: 10px 0;
}

.footer-list-top a {
  color: #fff;
  font: 1.3vw "Oswald", sans-serif; 
}

.footer-list-top a:hover{
  color: #8DB9ED;
}

.footer-list-top img{
  height: 5em;

}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}




