/**********************************************
*										      *
*                 GENERAL STYLES              *
*                                             *
**********************************************/

html, body {
	height: 100%
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between
}
ul {
  list-style: none
}

a {
  text-decoration: none
}

h1,h2,h3,h4,h5{
	font-family: 'Audiowide', cursive;
	color: #0056b3;
}

p{
	font-family: 'Roboto Mono', monospace;
	line-height: 1.5;
	font-weight: 600;
	font-size: 1.2em;
	color: #fff;
}

h2{
	font-size: 2em;
	text-align: center;
}


#index h1,#index h2,#index a{
    color:#fff;
    transition: 0.5s;
}
#index h1:hover,#index h2:hover,#index a:hover{
    transition: 0.5s;
    text-shadow: 2px 0 5px #3ad9e8 ;
}

#index h1{
	font-size: 2em;	
}
#index h2{
	font-size: 3.5em;
	text-transform: uppercase;
	font-weight: 600;
}

a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
.ms-section{
	text-align: center;
}

.cont{
	margin: 0 10%;
}


/**********************************************
*										      *
*                 MENU                        *
*                                             *
**********************************************/


#menu li {
	display:inline-block;	
	color: #000;
	background: rgba(255,255,255, 0.3);
	border-radius: 50px;
}
#menu li.active{
	background: rgba(16,107,63, 0.8);
	color: #000;
}
#menu li a{
	text-decoration:none;
	color: #000;
}

#menu li:hover{
	background: #000000;
}
#menu li a,
#menu li.active a{
	display:block;
	color: #000;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	margin-left: 5px;
}
#menu li a{
	padding: 5px;
}


/**********************************************
*										      *
*                 HOME PAGE                   *
*                                             *
**********************************************/

#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#about,#works,#skills,#contact{
	background: #f2f2f2;

}

#left2{
	background: url('img/moi.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#right2{

}
#left3{

}
#right3{

}
#left4{
	background: url('img/setup.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#right4{

}
#left5{

}
#right5{
	background: url('img/mug.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#right3 figure{
	width: 20%;
}
#right3 .center{
	justify-content: center;
}

#right3 .disp{
	display: contents;
}
#right3 figure{
	margin: 0;
	opacity: .5;
	transition: all .5s ease-in-out;
}
#right3 figure:hover{
	opacity: 1;
	border: 1px outset #171717;
}

/**********************************************
*										      *
*                 PAGE ABOUT                  *
*                                             *
**********************************************/
#about{
	background: url('img/glass.jpg'),rgba(45,92,94,0.3);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}






/**********************************************
*										      *
*                 PAGE SKILLS                 *
*                                             *
**********************************************/

#skills{
	background: url('img/glass.jpg'),rgba(45,92,94,0.3);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}





/**********************************************
*										      *
*                 PAGE WORKS                  *
*                                             *
**********************************************/






/**********************************************
*										      *
*                 PAGE CONTACT                *
*                                             *
**********************************************/

#about .succes{
	background: green;
}

#about .fail{
	background: red;
}




/**********************************************
*										      *
*                 FOOTER                      *
*                                             *
**********************************************/



.generic-anchor {
	color: #8DB9ED;
	&:visited {
		color: #8DB9ED
	}
	&:hover {
		color: #ccc
	}
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

main {
  flex: 1 1 auto; //For IE11
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
}
footer {
	font: 11px "Open Sans", sans-serif;
  background: rgb(55,55,55);
  margin-top: auto;
  width: 100%
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}




